div{
	width:400px;
	height:200px;
	background-color:pink;
	color:green;
	float:right;
	clear:laft;
}
p{
	width:400px;
	height:200px;
	background-color:red;
	color:green;
	float:left;
	clear:none;
}
span{
	width:400px;
	height:200px;
	background-color:yellow;
	color:blue;
	float:left;
	clear:both;
}
