ul,h3{
	margin:0px;
	padding:0px;
}
.goods{
	width:740px;
	margin-right:auto;
	margin-lift:auto;
}
.goods ul li img{
	display:block;
	padding:1px;
	height:141px;
	width；206px;
	border:1px solid #ccc;
}
li{
	border:1px solid #ccc;
	float:left;
	height:180px;
	margin-top:12px;
	margin-left:11px;
	padding:10px 9px 0px;
	width:209px;
	position:relative;
	list-style-type:none;
}
h3{
	font-size:12px;
	line-height:36px;
	color:#ff9900;
	text-align:center;
}
.zk,.qt{
	position:absolute;
	top:0px;
	right:0px;
	background-image:url(../images/1-4.jpg);
	background-repeat:no-repeat;
	height:42px;
	width:42px;
}
.zk{
	background-position:0px 0px;
}
.qt{
	background-position:-42px 0px;
}
	