*{
	padding:0px;
	margin:0px;
}
ul{
	list-style-type:none;
}
.main{
	width:230px;
	padding:1px;
	margin:10px auto 0px;
}
.right_border{
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#a9bbc7:
}
.goods[
	border-bottom:1px solid #a9bbc7;
	border-right:1px solid #a9bbc7;
	border-left:1px solid #a9bbc7;
	clear:both;
	height:460px;
}
.selected{
	font-weight:bold;
	width:76px;
	border-bottom-style:none;
}
li{
	font-size:12px;
	line-height:30px;
	text-align:center;
	float；left;
	height:30px;
	width:75px;
	border-bottom:1px solid #a9bbc7;
	border-topt:1px solid #a9bbc7;
	border-left:1px solid #a9bbc7;
}
.pic{
	float:left;
	border:1px solid #ccf;
	margin:10px 2px 0px 7px;
	padding:2px;
}
.list p{
	font-size:12px;
	color:#6c6c6c;
	line-height:160%;
	margin-top:3px;
}
.list strong[
	color:#c93300;
	margin-right:5px;
}
.list em{
	color:#999;
	text-decoration:line-through;
	font-style:normal;
	font-size:11px;
}
.list{
	clear:both;
	margin-top:10px;
}
.info{
	float:left;
	height:80px;
	width:130px;
	padding-top:10px;
	padding-left:10px;
}
